<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/c65e45056f.js" crossorigin="anonymous"></script>

    <title>Product View</title>

</head>
    
<body>

    <div class="footer">
        <div class="inner_footer">
            <div class="logo_container">
                <img src="/images/n-music-logo-v7-nobackground.png" alt="">
            </div>
            <div class="footer_cols">
                <h3>Download Our App</h3>
                <p>Available on Android and iOS devices</p>
                <a href="https://play.google.com/store"><img src="/images/playstore.png" alt=""></a>
                <a href="https://www.apple.com/app-store/"><img src="/images/appstore.png" alt=""></a>
            </div>
            <div class="footer_cols">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="">NuRewards</a></li>
                    <li><a href="">Artist Collaboration Program</a></li>
                    <li><a href="">Terms of Service</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer_cols">
                <h3>Our Partner</h3>
                <a href="https://hcl.com/"><img src="/images/hcl.png" alt="" style="width:80px;height:auto;"></a>
            </div>
            <div class="footer_cols">
                <h3>Follow Us</h3>
                <li class="social"><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                <li class="social"><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                <li class="social"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                <li class="social"><a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
            </div>
            <div class="footer_cols">
                <h3>Contact Us</h3>
                <span>
                    <i class="fas fa-envelope"></i> contact@numusic.com
                </span>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>