*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#header{
	color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(128, 0, 255);
}

#search{
    width: 180px;
    font-size: medium;
    box-sizing: border-box;
    padding: 12px 20px 12px 20px;
    text-align: left;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

#search:focus{
    width: 30%;
}

#search_button{
    float: center;
    width: 5%;
    padding: 13px;
    background: lightseagreen;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
}

#search_block{
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}

#catalog_listing{
	display:flex;
	flex-wrap: wrap;
	margin-left: 5%;
	margin-right: 5%;

}

#cards{
	display: flex;
	flex-wrap: wrap;
	flex: 0 1 25%;
	text-align: center;
	align-content: center;
	padding: 3% 0;
}

.links{
	margin-left: auto;
	margin-right: auto;
	color: black;
	transition: width 2s, height 2s;
}

.links:hover{
	border: 2px solid lightseagreen;
	color: black;
	text-decoration: none;
}

#product_details{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

#column{
    display: flex;
	flex-wrap: wrap;
	flex: 1 1 15em;
    padding: 0 5%;
}

#column_pic{
    
    padding-left: 10%;
    flex-basis: 25%;
}

#rows{
    padding: 2% 0;
}

#inline_form{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

#inline_form form{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#inline_form button{
	margin: 5px 10px 5px 10px;
}

#thumbnail{
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 7%;
}

	

