<!DOCTYPE html>
<html>
<head>
    <title>Vendor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
        .select-margin{
            margin-top: 5px;
            margin-right: 5px;
        }
    </style>
    <script src="genre.js"></script>



</head>
<body onload="CreateTableFromJSON()">
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="table_example.html">MUSIC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="categories.html">Category</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="genre.html">Genre</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="login.html">Logout</a>
            </li>
        </ul>
    </div>
  </nav>
  <!--navbar end  -->
    <div class="contain-fluid">
        <div class="row" style="margin-left: 20px; margin-top: 20px;">
            <div class="column">
                <p id="showData"></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Add New Category
                  </button>
            </div>
        </div>
    </div>
    <!-- <p id="newData"> 
        <label>Client Name</label><input type="text" id="clientNameInput" /><br />
        <label>Project Name</label><input type="text" id="projectNameInput" /><br />
        <label>Project Manager</label><input type="text" id="projectManagerInput" /><br />
        <label>Project Cost</label><input type="number" id="projectCostInput" /><br />
    </p>
    <input type="button" onclick="AddNewDeal()" value="Save" /> -->

    <!-- Modal begin -->
    <!-- Button trigger modal -->

  
  <!-- Modal Add Genre-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Genre Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"onclick="reset()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
            <input type="hidden" class="form-control" id="genreId" /><br />
            <label>Genre Name</label>
            <input type="text" class="form-control" id="genreName" /><br />
            <small id="nameHelp" class="form-text text-danger"></small>
            <button type="button" class="btn btn-primary" onclick="AddNewCategory()">Add Category</button>
            <div id="addModalSelector"></div>
            <button type="button" class="btn btn-danger" style="margin-top: 10px;" onclick="RemoveCategory()">Remove Category</button>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="reset()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="AddNewDeal()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    <!-- Modal End -->
    
</body>